<div *ngIf="isOpen" class="overlay">
  <div class="modal">

    <div class="header">
      <h2>Nova Reserva</h2>
      <button class="btn-close" (click)="close.emit()">X</button>
    </div>

    <div class="content">
      <div class="input-group">
        <label>Hora início</label>
        <div class="time-input-container">
          <input type="time" [(ngModel)]="startTime" />
          <span class="icon-clock">L</span> </div>
      </div>

      <div class="input-group">
        <label>Hora fim</label>
        <div class="time-input-container">
          <input type="time" [(ngModel)]="endTime" />
          <span class="icon-clock">L</span> </div>
      </div>
    </div>

    <div class="actions">
      <button class="btn-secondary" (click)="close.emit()">Cancelar</button>
      <button class="btn-confirm" (click)="confirmar()">Confirmar</button>
    </div>

  </div>
</div>